body {
    background-image: url("platform.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: #780000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    text-align: center;
}

.center{
    background-color: rgba(255, 183, 3, 0.8);
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}


button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffb703;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

#increment-btn {
    background: #780000;
}

#increment-btn:hover{
  background-color: black;
  transform: scale(1.05);
  transition: 0.2s;
}

#save-btn {
    background: #780000;
}

#save-btn:hover{
  background-color: black;
  transform: scale(1.05);
  transition: 0.2s;
}